.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foreground {
  z-index: 10;
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 20px;
  transition: all 0.2s ease;
  /* */
  background: var(--var-container-color);
  box-shadow: 0 0.5rem 1rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.username-input,
.password-input {
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  /* */
  background-color: var(--var-container-color);
  color: var(--main-text-color);
  box-shadow: 0 0.5rem 1rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.studio-container-var {
  position: absolute;
  z-index: 1;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--var-text-color);
  opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--var-text-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--var-text-color);
}
