.login-form {
  padding-top: 5rem;
}

.username-input,
.password-input,
.login-button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 1rem;
}

.loading-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--var-bg-color);
}

/* This is an adapted code from https://loading.io/css/ for an hourglass loader */
.lds-hourglass {
  display: inline-block;
  margin: 0 auto;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid var(--palette-color-1);
  border-color: var(--palette-color-1) transparent var(--palette-color-1)
    transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* This is a copied code from https://loading.io/css/ for a hourglass loader */
