.settings-container {
  margin: 2rem;
  height: calc(100vh - 4rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.settings-subcontainer {
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px 50px 20px 20px;
  background: var(--var-container-color);
  box-shadow: 0 0.5rem 1rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.main {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.change-password-container {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.goals-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.goal-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.delete-account-button {
  margin: 0 auto !important;
}
