body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    339deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(71, 7, 105, 1) 19%,
    rgba(9, 70, 121, 1) 35%,
    rgba(0, 255, 179, 1) 100%
  );
}

#three-canvas-container {
  height: 100vh !important;
}

.content {
  margin-left: 10%;
  /* border: 1px solid red; */
  height: 100%;
  max-height: 100vh;
}
