body {
  background: rgb(239, 219, 177);
}

#three-canvas-container {
  height: 100vh !important;
}

.content {
  margin-left: 10%;
  /* border: 1px solid red; */
  height: 100%;
  max-height: 100vh;
}
