.decks-container {
  /* margin-left: 2rem; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 95%;
}

.deck-manager-container {
  background: var(--var-bg-color);
  width: 100%;
}

.nodeck-container {
  display: flex;
  justify-content: center;
}

.nodeck-label {
  margin-top: 50vh;
  top: 50%;
}

.selected-deck-container {
  margin: 1rem 1rem 1rem 0;
  height: calc(100vh - 2rem);
  background: var(--main-container-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.selected-deck-info-wrapper {
  padding: 1rem;
}

.selected-deck-session-wrapper {
  height: auto;
  background: var(--var-container-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 0.5rem solid var(--palette-color-2);
  text-align: center;
  flex: 1;
  overflow: auto;
}

.session-start-button {
  margin: 1rem auto;
  padding: 1rem !important;
}

.flashcard-list {
  margin: 1rem;
  align-items: center;
  height: 100%;
}
