.deck-container {
  /* width: 80%; */
}

.deck {
  background-color: var(--main-container-color);
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}

.deck:hover,
.selected {
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px var(--aura-color));
}

.decklist-container {
  background: var(--var-bg-color);
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.decklist-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.decklist-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.decklist-list {
  /* background: rgba(255, 10, 10, 0.2); */
  padding: 1rem;
}

.deck-name {
  margin-right: auto;
}

.deck-info-container {
  display: flex;
  align-items: center;
}

.deck-creator {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease;
}

.deck-creator:focus-within,
.focused {
  background-color: var(--main-container-color);
}

.deck-name-input {
  background: none;
  border: none;
  font-size: 1.17em;
  padding: 1em 0 1em 0;
  margin-right: auto;
}

.deck-name-input:focus {
  outline: none;
}

.category-wrapper {
  transition: all 0.2s ease;
}

.category-wrapper:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px var(--aura-color));
}
